/* CUSTOM STYLES */
body {
    font-family: 'Lato', sans-serif;
}
nav {
  width: 100%;
  background-color: #e0b421;;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  padding: 9px;
  color: white;
  cursor: pointer;
}

nav a:hover {
  color: black;
}

.nav-logo {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: white;
}

.nav-id {
  font-size: 14px;
  color: white;
  margin-left: 2vw;
}

.donut {
  width: 300px;
}

.budgetWrapper {
  margin: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 300px 300px 700px;
  grid-template-rows: 350px 350px;
}

.current-wrapper {
   display: grid;
   grid-template-columns: 300px 300px;
   grid-template-rows: 350px;
}

.spending-list {

}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.formWrapper {
  margin: 20px;
  text-align: left;
  display: grid;
  grid-template-rows: 100px 100px 100px;
}

.footer {
  background-color: black;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: #afaa9a;
  font-size: 11px;
}


.set-up {
  text-align: center;
}

/* DEFAULT STYLES */
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* HOME STYLES */

.home-page {
  padding: 10vh;
  width: 100vw;
  height: 100vh;
  background-image: url(https://res.cloudinary.com/kelseygreen/image/upload/v1537466343/gingko-home.jpg);
}

.home-image {
  display: cover;
  height: 100vh;
}

.links {
  margin-left: -30vw;
}

.home-link {
  background-color: #e0b421;
  padding: 15px;
  color: black;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.home-link:hover {
  background-color: #edcb5c;
  padding: 18px;
}

.title {
  font-family: 'Poiret One', cursive;
  font-size: 140px;
  padding-top: 7vh;
  padding-bottom: 1px;
  padding-left: 7vw;
  margin: 0;
  text-align: left;
}

.tag-line {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-top: 0px;
  padding-left: 7vw;
  text-align: left;
}

/* AUTH STYLES */
.auth-box {
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  margin-left: 25vw;
  margin-top: 10vh;
  padding-bottom: 20px;


}
.auth-title {
  font-family: 'Poiret One', cursive;
  margin-top: 0px;
  padding-top: 20px;
  color: white;

}
.auth-input {
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;

}

.auth-label {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 14px;

}

/*  TABLE STYLES */

.profile-table {
  text-align: right;
}

.Housing {
  background-color: #7BC8E2;
  padding: 5px;
}
.Entertainment {
  background-color: #F49A43;
  padding: 5px;
}
.Food {
  background-color: #1D9498;
  padding: 5px;
}
.Shopping {
  background-color: #4286f4;
  padding: 5px;
}
.Transportation {
  background-color: #ED592B;
  padding: 5px;
}
.Savings {
  background-color: #c23ce8;
  padding: 5px;
}

/* USER STYLES */

.submit-button {
  background-color: #e0b421;
  padding: 10px;
  color: white;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.budget-input {
  padding: 2px;
  margin: 3px;
  font-size: 18px;
}

.budget-label{
  display: block;
  text-align: left;
  margin-left: 3px;
}

.form-box {
  width: 200px;
}

.form-flex {
  display: flex;
   justify-content: center;
}

.item-table {
   margin: auto;
   text-align: left;
}

.item-spacing {
  margin: 5px;
  padding: 15px;
}

.profile {
  padding-bottom: 60px;
}


